/* default */
.back-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: $white-color;
    background-color: rgba($white-color, .2);
    font-size: 25px;
    font-weight: 400;
    width: 50px;
    height: 50px;
    line-height: 48px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: $transition;
    z-index: 9999;
    display: none;
}

.primary-btn {
    color: $white-color;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    transition: $transition;
    display: flex;
    align-items: center;
    &:hover {
        color: $white-color;
    }

    img {
        width: auto;
        height: 20px;
        margin-left: 15px;
    }
}

.all-phone-hide {
    @include all-phone {
        display: none;
    }
}

.tablet-hide {
    @include tablet {
        display: none;
    }
}

.all-desktop-hide {
    @include all-desktop {
        display: none;
    }
}