/* landing */
.menu-area {
    padding-top: 60px;
}

.header-area {
    padding-top: 100px;
    .header-content {
        padding-top: 50px;
        ul.list-items,
        p {
            margin-top: 40px;
        }
    }
}