/* landing */
.menu-area {
    padding-top: 50px;

    .menu-toggle-bar {
        background-color: $black-color;
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        transition: $transition;
        width: 40px;
        height: 40px;
        z-index: 9999;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        @include tablet {
            display: block;
        }
        @include all-phone {
            display: block;
        }

        &.active {
            .bar-1 {
                transform: rotate(45deg);
                top: 8px;
            }
            .bar-2 {
                opacity: 0;
                visibility: hidden;
            }
            .bar-3 {
                transform: rotate(-45deg);
                top: -8px;
            }
        }

        .custom-bars {
            padding-top: 5px;
            padding-left: 8px;
            .custom-bar {
                width: 24px;
                height: 2px;
                background-color: $white-color;
                margin: 6px 0;
                transition: $transition;
                position: relative;
                .bar-1 {
                    transform: rotate(0);
                }
                .bar-3 {
                    transform: rotate(0);
                }
            }
        }
    }

    .main-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        position: relative;
        transition: $transition;
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }

        li {
            display: block;
            a {
                font-size: 20px;
                font-weight: 200;
                text-decoration: none;
                text-transform: uppercase;
                color: $white-color;
                display: inline-block;
                transition: $transition;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 15px;
                    left: -30px;
                    width: 0;
                    height: 1px;
                    background-color: $white-color;
                    transition: $transition;
                    opacity: 0;
                    visibility: hidden;
                }

                &:hover {
                    padding-left: 20px;
                    &::before {
                        opacity: 1;
                        visibility: visible;
                        width: 35px;
                    }
                }
            }
        }
    }

    .mobile-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black-color;
        text-align: center;
        transition: .2s;
        opacity: 0;
        visibility: hidden;
        z-index: 999;
        @include all-desktop {
            display: none;
        }

        &.active {
            height: 100vh;
            opacity: 1;
            visibility: visible;
        }

        li {
            position: relative;
            top: 30%;
            a {
                color: $white-color;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 200;
                text-decoration: none;
                padding: 10px 0;
                display: inline-block;
                span {
                    font-family: $heading-font;
                    font-weight: 400;
                }
            }

            &.copyright {
                font-size: 18px;
                font-weight: 300;
                color: rgba(255,255,255,.3);
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
            }
        }
    }

    .other-page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black-color;
        transition: .2s;
        padding: 120px 50px 0;
        z-index: 999;
        background-image: url('../images/other-page-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        opacity: 0;
        visibility: hidden;
        &.active {
            opacity: 1;
            visibility: visible;
        }

        @include all-desktop {
            display: none;
        }

        @include tablet {
            padding: 250px 80px 0;
        }

        .title-1 {
            span {
                font-family: $theme-font;
                font-weight: 300;
            }
            @include tablet {
                font-size: 40px;
                line-height: 58px;
            }
        }
        .title-2 {
            margin-top: 50px;
            text-align: right;
            @include tablet {
                font-size: 40px;
                line-height: 58px;
                margin-top: 0px;
            }
        }

        ul.page-links {
            position: absolute;
            left: 50%;
            bottom: 150px;
            transform: translateX(-50%);
            width: 100%;
            text-align: center;
            li {
                display: inline-block;
                margin: 0 20px;
                a {
                    text-transform: uppercase;
                    position: relative;
                    color: $white-color;
                    text-decoration: none;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -25px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 15px;
                        height: 15px;
                        background-color: $white-color;
                        border-radius: 50%;
                    }
                }

                &.copyright {
                    font-size: 18px;
                    font-weight: 300;
                    color: rgba(255,255,255,.3);
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    margin-top: 40px;
                }
            }
        }
    }
}

.header-area {
    padding-top: 100px;

    .main-title {
        @include tablet {
            text-align: center;
        }
        @include all-phone {
            text-align: center;
        }
    }

    .header-content {
        padding-top: 50px;
        .section-title {
            @include tablet {
                text-align: center;
            }
            @include all-phone {
                text-align: center;
            }
        }

        ul.list-items,
        p {
            margin-top: 40px;
        }

        .header-image {
            @include tablet {
                padding: 150px 0;
                background-image: url('../images/header-image-bg-tablet.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 90%;
                img {
                    width: 80%;
                    margin: auto;
                }
            }
            
            @include all-phone {
                padding: 150px 0;
                background-image: url('../images/header-mobile-bg.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }
}

.shape-1 {
    margin-top: -200px;
    z-index: -1;
    position: relative;
    @include screen-1200 {
        margin-top: -300px;
    }
    @include desktop {
        margin-top: -350px;
    }
}

.workcloud-area {
    margin-top: -300px;
    @include tablet {
        margin-top: 50px;
    }
    @include all-phone {
        margin-top: 100px;
    }

    .workcloud-image {
        @include tablet {
            padding: 150px 0;
            background-image: url('../images/workcloud-image-bg-tablet.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
            img {
                width: 90%;
                margin: auto;
            }
        }
        
        @include all-phone {
            padding: 150px 0;
            background-image: url('../images/workcloud-mobile-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    .workcloud-content {
        ul.list-items,
        p {
            margin-top: 40px;
        }

        .section-title {
            @include tablet {
                margin-top: 50px;
                text-align: center;
            }
            @include all-phone {
                margin-top: 100px;
                text-align: center;
            }
        }
    }
}

.shape-2 {
    margin-top: -200px;
    z-index: -1;
    position: relative;
    @include screen-1200 {
        margin-top: -300px;
    }
    @include desktop {
        margin-top: -470px;
    }
}

.easyonepage-area {
    margin-top: -300px;
    @include tablet {
        margin-top: 0;
    }
    @include all-phone {
        margin-top: 100px;
    }

    .easyonepage-content {
        ul.list-items,
        p {
            margin-top: 40px;
        }

        .section-title {
            @include tablet {
                text-align: center;
            }
            @include all-phone {
                text-align: center;
                margin-top: 50px;
            }
        }
    }

    .easyonepage-image {
        @include tablet {
            padding: 160px 0;
            background-image: url('../images/easyonepage-image-bg-tablet.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            margin: 100px 0 50px;
            img {
                width: 80%;
                margin: auto;
            }
        }
        @include all-phone {
            padding: 160px 0;
            background-image: url('../images/easyonepage-mobile-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

.shape-3 {
    margin-top: -200px;
    z-index: -1;
    position: relative;
    @include screen-1200 {
        margin-top: -250px;
    }
    @include desktop {
        margin-top: -350px;
    }
}

.connecting-area {
    margin-top: -300px;
    @include tablet {
        margin-top: 0px;
    }
    @include all-phone {
        margin-top: 100px;
    }

    .connecting-content {
        ul.list-items,
        p {
            margin-top: 40px;
        }

        .section-title {
            @include tablet {
                text-align: center;
                margin-top: 30px;
            }
            @include all-phone {
                text-align: center;
                margin-top: 50px;
            }
        }
    }

    .connecting-image {
        @include tablet {
            padding: 190px 0;
            background-image: url('../images/connecting-image-bg-tablet.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            margin: 100px 0 50px;
            img {
                width: 80%;
                margin: auto;
            }
        }
        @include all-phone {
            padding: 190px 0;
            background-image: url('../images/connecting-mobile-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

.shape-4 {
    margin-top: -250px;
    z-index: -1;
    position: relative;
    @include screen-1200 {
        margin-top: -350px;
    }
    @include desktop {
        margin-top: -400px;
    }
}

.footer-area {
    margin-top: 300px;
    padding-bottom: 70px;
    text-align: center;
    @include tablet {
        margin-top: 200px;
    }
    @include all-phone {
        margin-top: 200px;
    }

    a {
        text-transform: uppercase;
        position: relative;
        color: $white-color;
        text-decoration: none;
        @include tablet {
            display: none;
        }
        @include all-phone {
            display: none;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 10px;
            background-color: $white-color;
            border-radius: 50%;
            transition: .2s;
        }

        &:hover {
            &::before {
                width: 15px;
                height: 15px;
                bottom: -23px;
            }
        }
    }

    .copyright {
        margin-top: 80px;
        p {
            font-size: 18px;
            font-weight: 300;
            color: rgba(255,255,255,.3);
        }
    }
}