// theme font
$heading-font: 'Major Mono Display', monospace;
$theme-font: 'Inter', sans-serif;

// theme color
$white-color: #ffffff;
$black-color: #1D1D20;

// google font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Major+Mono+Display&display=swap');

// transition
$transition: all .3s ease-in;