/* navbar */
nav {
    
    // home menu
    .main-menu {
        li {
            display: block;
            position: relative;
            margin-right: 0;
            line-height: 1.2;
            z-index: 1;

            a {
                color: $white-color;
                padding: 2px 0;
                font-weight: 400;
                display: inline-block;
                font-size: 20px;
                text-transform: uppercase;
                text-decoration: none;
            }

            @include all-desktop {

                &:hover {
                    a {
                        color: $white-color;

                        @include tablet {
                            color: $white-color;
                        }

                    }
                }
            }
        }
    }

}
