/* navbar */
nav {
    
    // home menu
    .main-menu {
        li {
            display: block;
            position: relative;
            margin-right: 0;
            line-height: 1.2;
            z-index: 1;

            a {
                color: $white-color;
                padding: 2px 0;
                font-weight: 400;
                display: inline-block;
                font-size: 20px;
                text-transform: uppercase;
                text-decoration: none;
            }

            @include all-desktop {

                &:hover {
                    a {
                        color: $white-color;

                        @include tablet {
                            color: $white-color;
                        }

                    }
                }
            }
        }
    }

}

// phone menu
.mean-container {
    .mean-nav {
        background: $white-color;

        @include tablet {
            margin-top: 90px;
        }

        @include landscape-phone {
            margin-top: 60px;
        }

        @include portrait-phone {
            margin-top: 50px;
        }
    }

    .mean-bar {
        z-index: 0;

        a.meanmenu-reveal {
            background: $white-color;
            top: 8px;
            right: 20px !important;

            @include tablet {
                top: 15px;
            }

            @include landscape-phone {
                top: 2px;
            }

            @include portrait-phone {
                top: -3px;

            }
        }
    }

}